.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.5); /* Fondo gris semitransparente */
  backdrop-filter: blur(5px); /* Desenfoque de fondo */
  z-index: 50;
}

.spinner {
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  color: #3b82f6; /* Color azul */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
