<div class="container mt-5">
    <h2>Gestión de Eventos</h2>
  
    <!-- Botón para agregar un nuevo evento -->
    <button class="btn btn-primary mb-3" (click)="openAddEvent()">Agregar Evento</button>
  
    <!-- Tabla de eventos -->
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre del Evento</th>
          <th>Fecha</th>
          <th>Ubicación</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (event of events; track $index) {
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.name }}</td>
                <td>{{ event.date | date }}</td>
                <td>{{ event.location }}</td>
                <td>
                  <button class="btn btn-warning btn-sm" (click)="openEditEvent(event)">Editar</button>
                  <button class="btn btn-danger btn-sm" (click)="deleteEvent(event.id)">Eliminar</button>
                </td>
              </tr>
        }
      </tbody>
    </table>
  </div>
  