<div class="container mt-5" style="max-width: 400px;">
    <h2 class="text-center">Iniciar Sesión</h2>
    <form (ngSubmit)="onLogin()" #loginForm="ngForm" class="mt-4">
      <div class="mb-3">
        <label for="email" class="form-label">Correo Electrónico</label>
        <input type="email" id="email" class="form-control" required [(ngModel)]="email" name="email" />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" id="password" class="form-control" required [(ngModel)]="password" name="password" />
      </div>
      <button type="submit" class="btn btn-primary w-100">Ingresar</button>
    </form>
  </div>
  